
  <div class="col-4 py-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= movie.name %></h4>
        <%= image_tag "https://picsum.photos/200" %>
        <h5> Descripción </h5>
          9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM
        <%= link_to "Show this movie", movie, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
